/* this is a comment in css*/

.red{
    background-color: red;
}

.blue{
    background-color: lightblue;
}

body{
    background-color: #95774a;
}

.hero{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg);

}

.hero h1{
    color: white;
}

.mission{
    background-color: #323232;
    color: white;
}

.mission p{
    font-family: sans-serif;
    font-size: 1.8em;

}


.features{
    background-color: #323232;
    color: white;
}

.features p{
    padding-top: 1em;
    text-align: center;
}

.features img{
    border-radius: 2em;
}


.video{
    width: 50%;
}


.footer{
    background-color: aliceblue;
}

.footer ul{
    list-style: none;
}
